AUTH_FUNCTION_URL=http://auth-function.local
CUSTOMER_SERVICE_URL=http://customer-service.local
OS_SERVICE_URL=http://os-service.local
WORKSHOP_SERVICE_URL=http://workshop-service.local
BILLING_SERVICE_URL=http://billing-service.local
JWT_ISSUER=fiap-tech-challenge-auth-function
JWT_SHARED_SECRET=change-me-in-local-env

